<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{processInstance.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{processInstance.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/processInstances}" class="btn btn-secondary">[[#{processInstance.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('processInstance')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='processInstance', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='processInstance', field='processName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='processInstance', field='businessKey')}" />
                <div th:replace="~{fragments/forms::inputRow(object='processInstance', field='processVariable', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='processInstance', field='status', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='processInstance', field='process', type='select')}" />
                <input type="submit" th:value="#{processInstance.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
